[flake8]
max-line-length=120
exclude =
    *env/*
    *Pipfile*
    wsgi.py
    .git,
    *migrations*
    *.pre-commit-config.*
    *.flake8*
    README.md
    requirements*
    .gitlab-ci.yml
    *fixtures*
    *locale/*
    .gitignore
    *.html
    *.yaml
    Procfile
    *.css*
    *.scss*
    *.js*
    *.png
    *.json
    *.txt
    *.markdown
    *.coveragerc
    *LICENSE*
    *contrib/*
    *backup/*
    .locales
    *static/*

format = pylint
