{% extends 'core/base.html' %}

{% load static %}

{% block title %}Python Pro - Aperitivos{% endblock title %}
{% block description %}Página com todos os vídeos gratuitos{% endblock description %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            {% if videos %}
            <h1>Lista de vídeos aperitivos</h1>
            {% endif %}
            <ol>
                {% for video in videos %}
                   <li><a class="ml-2" href="{{ video.get_absolute_url }}">
                   {{ video.titulo|default:'Faltando o título' }}</a></li>
                {% empty %}
                    <h4><strong>Não</strong> foi encontrado nenhum vídeo</h4>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>

{% endblock content %}
