{% extends 'core/base.html' %}

{% load static %}

{% block title %}Python Pro - Home{% endblock title %}

{% block content %}
<div class="container mt-5">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Curso de Python com Luciano Ramalho
				</h2>
				<h4 class="mt-5">Matrículas Abertas! Valor R$1.000,00</h4>

				<!-- INICIO DO BOTAO PAGSEGURO -->
				<a href="https://pag.ae/7Wa3ZtJQv/button" target="_blank" title="Pagar com PagSeguro"><img
						src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif"
						alt="Pague com PagSeguro - é rápido, grátis e seguro!" /></a>
				<!-- FIM DO BOTAO PAGSEGURO -->

				<!-- Begin Mailchimp Signup Form -->
				{% comment %}
				<form
					action="https://herokuapp.us10.list-manage.com/subscribe/post?u=c4ac08f9f2608f65b8a61127c&amp;id=7ea53218ae"
					method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
					target="_blank" novalidate>
					<div class="form-row align-items-center">
						<div class="col-sm-3 my-1">
							<label class="sr-only" for="mce-EMAIL">Email</label>
							<input type="email" name="EMAIL" class="form-control required" id="mce-EMAIL"
								placeholder="exemplo@email.com">
						</div>
						<div class="col-sm-3 my-1">
							<label class="sr-only" for="mce-USERNAME">Nome</label>
							<div class="input-group">
								<input type="text" name="USERNAME" class="form-control" id="mce-USERNAME" placeholder="Seu nome">
							</div>
						</div>
						<div class="clear ml-1"><input type="submit" value="Enviar" name="subscribe" id="mc-embedded-subscribe"
								class="btn btn-primary"></div>
					</div>
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
							name="b_c4ac08f9f2608f65b8a61127c_7ea53218ae" tabindex="-1" value=""></div>
				</form>
				{% endcomment %}
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">
							Mais detalhes sobre o instrutor.
						</h5>
						<div class="card-body">
							<img src="{% static 'img/luciano-ramalho.png' %}" alt="Foto do instrutor"
								class="img-thumbnail float-left mr-3">
							Autor do livro <a href="https://www.amazon.com.br/
								Python-Fluente-Programa%C3%A7%C3%A3o-Concisa-Eficaz/dp/
								857522462X/ref=asc_df_857522462X/?tag=googleshopp00-20&linkCode=
								df0&hvadid=379792215563&hvpos=&hvnetw=g&hvrand=1717647499594927775&hvpone=
								&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1001621&hvtargid=
								pla-460804277997&psc=1" target="_blank">Python Fluente</a>.
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
							has been the industry's standard dummy text ever since the 1500s, when an unknown
							printer took a galley of type and scrambled it to make a type specimen book. It has
							survived not only five centuries, but also the leap into electronic typesetting,
							remaining essentially unchanged. It was popularised in the 1960s with the release of
							Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
							publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
