{% extends 'core/base.html' %}

{% load static %}

{% block title %}Python Pro - Aperitivo{% endblock title %}
{% block description %}Página com vídeo gratuito de Python{% endblock description %}

{% block content %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item"><a href="{{ aula.modulo.get_absolute_url }}">{{ aula.modulo.titulo }}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{ aula.titulo }}</li>
		</ol>
	</nav>
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-12">
				<h1>{{ aula.titulo|default:'Faltando o título' }}</h1>
				<div class="mt-3 mb-5">
					<iframe src="https://player.vimeo.com/video/{{ aula.vimeo_id }}" width="640" height="360" frameborder="0"
					allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>
				<a href="{% url 'modulos:detalhe' slug=aula.modulo.slug %}"><button class="btn btn-secondary">Voltar</button></a>
			</div>
		</div>
	</div>
{% endblock content %}

